<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistencia.mybatisimpl.mappers.UsuarioMapper">


	<select id='consultaUsuarios' resultMap='UsuarioResult'>
		select id, contraseña, nombre, rol, area
		from usuario u
		where u.contraseña = #{id};
	</select>
	
	<select id='getUsuarios' resultMap='UsuarioResult'>
		select id, contraseña, nombre, rol, area
		from usuario u
		order by id;
	</select>
	
	<select id="consultarIdPorNombreyContraseña" resultType="int">
		select id
		from usuario
		where nombre=#{nombre} and contraseña=#{contraseña}; 
	</select>
	
	<select id="consultarUsuarioPorNombreyContraseña" resultMap="UsuarioResult">
		select *
		from usuario
		where nombre=#{nombre} and contraseña=#{contraseña}
	</select>
	
	<insert id="insertarUsuario">
		insert into usuario values(#{id}, #{cont}, #{name}, #{rol}, #{area});
	</insert>
	
	<update id="updatePerfil">
		update usuario set rol = #{rol}
		where id = #{id}
	</update>
	
	<delete id="borrarUsuario">
	
		delete from usuario where usuario.nombre= #{nombre} and usuario.contraseña = #{contrasena};
		
	</delete>


	<resultMap type='Usuario' id='UsuarioResult'>
		<id property='id' column='id'/>
		<result property='contraseña' column='contraseña'/>
		<result property='nombre' column='nombre'/>
		<result property='rol' column='rol'/>
		<result property="area" column="area"/>
    </resultMap>

</mapper>